@tailwind base;
@tailwind components;
@tailwind utilities;

.App, html, #root, body {
  text-align: center;
  text-wrap: balance;
  height: 100%;
}

.mainContainer {
  max-height: 90%;
  display: grid;
  grid-template-rows: 9fr 1fr;
}